#music {
    height: 100vh;
    width: 100vw;
    background-color: rgb(100, 100, 215);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: fadein 3s;
}

#spotify {
    width: 100px;
}

.qd-social-li a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}