#portfolio {
    height: 100vh;
    width: 100vw;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#portfolio-container {
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
    width: 50vw;
    justify-content: center;
}


